{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h2>Clients "Dios no muere"</h2>
    <div><a class="btn btn-primary" href="{% url 'reservation-add' %}">Create reservation</a></div>
    <!--validate id the client list is not empty-->
    {% if  clients_list%} 
    <!--there is a table (without CSS style) for the results-->
        <table class="table table-bordered">
            <tr>
                <th>IC</th>
                <th>Client</th>
                <th>E-mail</th>
            <tr>
    <!--You can use a for secuence from django to present backed object and elements-->
            {% for client in clients_list %}   
            <tr> 
            
                    <td>{{client.identity_card}}</td>
                    <td>{{client.name}} {{client.last_name}}</td>
                    <td>{{client.e_mail}}</td>            
                
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <!--if client list is empty, return the h3 tag message-->
        <h3>Any client are register in the app</h3>
    {% endif %}
    <!--there is a link for reservation add option-->
    
 {% endblock %}